<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocuBundle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ApexBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ApexBinding1" />
                <binding name="MetadataBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MetadataBinding1" />
                <binding name="ApexBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="ApexBinding3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://na16.salesforce.com/services/Soap/s/35.0"
                binding="basicHttpBinding" bindingConfiguration="ApexBinding"
                contract="sfdcPartner.ApexPortType" name="Apex" />
            <endpoint address="https://na16.salesforce.com/services/Soap/m/35.0"
                binding="basicHttpBinding" bindingConfiguration="MetadataBinding"
                contract="sfdcMatadata.MetadataPortType" name="Metadata" />
            <endpoint address="https://na16.salesforce.com/services/Soap/s/35.0"
                binding="basicHttpBinding" bindingConfiguration="ApexBinding2"
                contract="ServiceReference1.ApexPortType" name="Apex1" />
        </client>
    </system.serviceModel>
    <userSettings>
        <DocuBundle.Properties.Settings>
            <setting name="lastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTitle" serializeAs="String">
                <value />
            </setting>
        </DocuBundle.Properties.Settings>
    </userSettings>
</configuration>